.poster {
    max-width: 200px;
    margin: 10px;
    align-self: center;
}

.posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 750px) {
    .poster {
        max-width: 150px;
    }
}

@media screen and (min-width: 1000px) {
    .poster {
        max-width: 200px;
    }
}

.poster-popup {
    width: 50%;
}

.poster-popup img {
    max-width: 100%;
}